
body {
    box-sizing: border-box;
    margin: 0;
    background-color: aqua;
}

.sidebar {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: greenyellow;
    opacity: 0.8;
    border-right: 0.5rem solid slateblue;
    overflow: hidden;
}

.menu {
    display: flex;
}
.settings {
    display: flex;
    margin-left: 2.25rem;
    margin-right: 2rem;
}
.user {
    display: flex;
    margin: 1rem;
}
ul {
    list-style-type: flex;
    margin-right: 2rem;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 20%;
    border: 0.2rem solid black;
}
/* REUSABLE CLASSES */

.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}
.column {
    flex-direction: column;
}
